*{
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a{
  color: currentColor;
  text-decoration: none;
  &:visited{
    color: currentColor;
  }
}

body{
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}